.dashboard-container {
  min-height: 100vh;
  main {
    min-height: 60vh;
  }
}

.main-dashboard {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
}

.admin-story-view {
  .story-card {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
