.form-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20rem;

    .field-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: left;
    }
    .form-field,
    label {
      width: 20rem;
      margin: 1rem;
    }
  }
}

.form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.story-form-field {
  height: 15rem;
  width: 30rem;
  border: 1px solid $color-black;
  border-radius: 3px;
}

.form-field {
  border: 1px solid $color-black;
  border-radius: 3px;
}
