.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 700px) {
    width: 50%;
    height: 37rem;
    margin-right: 2rem;
  }
  h1 {
    padding: 1rem;
    text-align: center;
  }
  button {
    margin: 1rem;
  }
}
.landing-page {
  height: 100%;
}
.landing-page main {
  height: 70%;
}

.main-landing {
  padding: 10rem 2rem 0rem 2rem;
  height: 60%;

  @media (min-width: 700px) {
    display: flex;
    align-items: flex-start;
  }
}

.carousel-container {
  margin: 5rem 0;

  @media (min-width: 700px) {
    margin: 0;
  }
  .ant-carousel {
    width: 300px !important;
    height: 337px;
    margin: 0 auto;

    @media (min-width: 700px) {
      width: 500px !important;
    }

    .slick-slide {
      margin: 0 auto;
      text-align: center;
      line-height: 160px;
      background: #c96567;
      overflow: hidden;

      h3 {
        color: #fff;
      }
    }
  }
}
