.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 900px) {
    width: 50%;
    height: 37rem;
    margin-right: 2rem;
  }
  h1 {
    padding: 1rem;
    text-align: center;
  }
  button {
    margin: 1rem;
  }
}
.landing-page {
  min-height: 100vh;
}

.main-landing {
  padding: 10rem 5rem 0rem 5rem;

  height: 60%;

  @media (min-width: 900px) {
    min-height: 69vh;
  }

  .top-row {
    @media (min-width: 900px) {
      display: flex;
      justify-content: center;
    }
  }
}

.carousel-container {
  margin: 0 auto;

  .ant-carousel {
    width: 300px !important;
    height: 337px;
    margin: 0 auto;

    @media (min-width: 900px) {
      width: 500px !important;
      margin-right: 3rem;
    }

    .slick-slide {
      margin: 0 auto;
      text-align: center;
      line-height: 160px;
      background: #c96567;
      overflow: hidden;

      h3 {
        color: #fff;
      }
    }
  }
}

.cherry-image-container {
  display: flex;
  justify-content: center;
  margin: 5rem 0rem 2rem 0rem;

  img {
    width: 70%;

    @media (min-width: 900px) {
      width: 45rem;
    }
  }
}

.bottom-row {
  margin-top: 10rem;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  .story-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 3rem;
  }
  @media (min-width: 900px) {
  }
  #story-text {
    width: 80%;
    text-align: center;
    margin: 2rem;
    @media (min-width: 900px) {
      margin: 2rem;
    }
  }
}
