.react-spinner {
  margin: 0 auto;
  text-align: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 45vh;
  // background: url() no-repeat center center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.749),
      rgba(255, 255, 255, 0.749)
    ),
    url(../assets/cherry-tree.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (min-width: 900px) {
    height: 30rem;

    padding-top: 4rem;
  }
  h1 {
    padding: 1rem;
    text-align: center;
    font-family: 'Prata', serif;
  }
  button {
    margin: 1rem;
  }
}
.landing-page {
  min-height: 100vh;
}

.main-landing {
  // padding: 10rem 5rem 0rem 5rem;

  height: 60%;

  @media (min-width: 900px) {
    min-height: 69vh;
  }

  .top-row {
    @media (min-width: 900px) {
      display: flex;

      justify-content: center;
      align-items: flex-start;
    }
  }
}

.carousel-container {
  margin: 0 auto;

  .ant-carousel {
    width: 300px !important;
    height: 337px;
    margin: 0 auto;

    @media (min-width: 900px) {
      width: 500px !important;
      margin-right: 3rem;
    }

    .slick-slide {
      margin: 0 auto;
      text-align: center;
      line-height: 160px;
      background: #c96567;
      overflow: hidden;

      h3 {
        color: #fff;
        font-family: 'Prata', serif;
      }
    }
  }
}

.cherry-image-container {
  display: flex;
  justify-content: center;
  margin: 5rem 0rem 2rem 0rem;

  img {
    width: 70%;

    @media (min-width: 900px) {
      width: 45rem;
    }
  }
}

.bottom-row {
  margin-top: 10rem;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  .story-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 3rem;
  }
  @media (min-width: 900px) {
  }
  #story-text {
    width: 80%;
    text-align: center;
    margin: 2rem;
    @media (min-width: 900px) {
      margin: 2rem;
    }
  }
}
